Source: bunsen-utilities
Section: misc
Priority: optional
Maintainer: John Crawley <john@bunsenlabs.org>
Build-Depends: debhelper-compat (= 13),
  help2man,
  gir1.2-gtk-3.0,
  python3 (>= 3.7),
  python3-gi (>= 3.30.4),
  python3-lxml,
  python3-psutil (>= 5.5.1),
  python3-xdg (>= 0.25),
  python3-xlib
Rules-Requires-Root: no
Standards-Version: 4.6.2
Homepage: https://github.com/BunsenLabs/bunsen-utilities
Vcs-Git: https://github.com/BunsenLabs/bunsen-utilities.git
Vcs-Browser: https://github.com/BunsenLabs/bunsen-utilities

Package: bunsen-utilities
Architecture: all
Depends: ${misc:Depends},
  bunsen-common,
  gir1.2-gtk-3.0,
  libnotify-bin,
  python3 (>= 3.7),
  python3-gi (>= 3.30.4),
  python3-lxml,
  python3-psutil (>= 5.5.1),
  python3-xdg (>= 0.25),
  python3-xlib,
  wmctrl,
  xdotool (>=1:2.20110530.1-3),
  yad
Conflicts: bunsen-lock, bunsen-user-setup
Recommends: at,
  bunsen-exit (>= 9.1-1),
  bunsen-blob,
  bunsen-conky,
  conky-all,
  gmrun,
  libglib2.0-bin,
  light-locker,
  openbox,
  tint2,
  scrot,
  xsel,
  xsettingsd
Breaks: bunsen-pipemenus (<< 12.2-1)
Description: Small scripts to use with BunsenLabs.
 A collection of small scripts to provide various functions
 which might be useful to BunsenLinux users and system administrators.
 .
  - beepmein: Alarm clock script based on 'at'.
  - bl-conky-edit: Script to find and edit conky config files.
  - bl-conky-manager: Yad-based conky manager.
  - bl-conkymove: Script to assist the relocation of conky windows.
  - bl-conky-session: Script to handle multiple conky sessions.
  - bl-image-upload: Generic image upload utility.
  - bl-imgbb-upload: Screenshot and image upload utility for imgbb.
  - bl-imgur-upload: Screenshot and image upload utility for imgur.
  - bl-lock: Script to lock the display.
  - bl-notify-broadcast: Script to send user notifications from root processes.
  - bl-pkg-versions: Utility to display the versions of BunsenLabs packages.
  - bl-reload-gtk23: Script to notify clients of GTK2/3 configuration changes.
  - bl-restart: Script to restart all instances of a process name.
  - bl-setlocale: Yad-based script to set user's locale.
  - bl-tint2-edit: Script to find and edit tint2 config files.
  - bl-tint2-manager: Yad-based tint2 manager.
  - bl-tint2-session: Script to handle multiple tint2 sessions.
  - bl-urxlx: Script to convert Xresources colours to rgb for lxterminal.
  - bl-xinerama-prop: Script to get xinerama properties in a shell script.
